<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>{{ .Page.Title }} - ChatApp</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <script src="https://unpkg.com/feather-icons"></script>
  </head>
  <body>
    {{- block "header" . -}}{{- end -}}
    <main>
    {{- template "main" . -}}
    </main>
    <!-- Scripts -->
    <script>
      feather.replace()
    </script>
  </body>
</html>